services:
  gateway:
    image: nginx:alpine
    ports:
      - "${TEAM_PORT}:80"
    volumes:
      - ./gateway.conf:/etc/nginx/conf.d/default.conf:ro
    environment:
      - CORE_BASE_URL=http://core:8000
    depends_on:
      - team2-frontend
    networks:
      - app404
      
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - app404
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/"]
      interval: 10s
      timeout: 5s
      retries: 5
  team2-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - app404

networks:
  app404:
    external: true
    name: app404_net