services:
  gateway:
    image: nginx:alpine
    ports:
      - "${TEAM_PORT}:80"
    volumes:
      - ./gateway.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - db
    networks:
      - app404_net

  db:
    image: postgres:15-alpine
    container_name: team6-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=wiki_db
    networks:
      - app404_net


networks:
  app404:
    external: true
    name: app404_net
