# --- هسته اصلی پروژه ---
Django==4.2.27
djangorestframework==3.16.1
django-environ==0.12.0
django-cors-headers==4.9.0
whitenoise==6.11.0
gunicorn==25.0.3
psycopg2-binary==2.9.11
PyMySQL==1.1.2

# --- پردازش متن و هوش مصنوعی (نسخه‌های سبک) ---
scikit-learn
numpy
scipy
beautifulsoup4
deep-translator
requests
PyJWT

# --- بخش جستجوی معنایی و LangChain ---
langchain-community
langchain-core
# نسخه مخصوص CPU برای جلوگیری از دانلود درایورهای حجیم انویدیا
faiss-cpu
sentence-transformers
huggingface_hub

# --- ابزارهای کمکی ---
typing-extensions
python-dotenv
PyYAML
